{
  "workerName": "svc:ln2",
  "workerPort": 10039,
  "grapeUrl": "http://127.0.0.1:30001",
  "nodes": [
    {
      "certPath": "/Users/severinbuhler/.polar/networks/3/volumes/lnd/alice/tls.cert",
      "macaroonPath": "/Users/severinbuhler/.polar/networks/3/volumes/lnd/alice/data/chain/bitcoin/regtest/admin.macaroon",
      "grpcSocket": "127.0.0.1:10001"
    }
  ],
}